:root {
    font-family: Arial, Helvetica, sans-serif;
    --highlight-bg-color: #d4e3fc;
    --highlight-color: #3d8af7;
    --default-text-color: #7a7a7a;
}

@media (min-width: 990px) {
    .content-container {
        max-width: 980px;
        margin: 0 auto;
        padding: 0;
    }
}

nav>.content-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

nav .page-logo {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

nav .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0;
}

nav .menu .nav-item a {
    text-decoration: none;
    padding: 10px 15px;
}

nav .menu .nav-item a:hover {
    color: var(--highlight-color);
}

nav .menu .nav-item a:active {
    background-color: var(--highlight-color);
    color: #fff;
}

ul {
    list-style-type: none;
}

@media (min-width: 440px) {
    nav>.content-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100px;
    }
    nav .menu {
        flex: 1;
        justify-content: flex-end;
    }
}

header>.content-container {
    height: 400px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    text-align: center;
}

header .header-main-image img {
    max-width: 320px;
}

@media (min-width: 888px) {
    header .header-main-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .header-main-image {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header .header-main-image img {
        min-width: 350px;
        max-width: 440px;
    }
}

h1,
h2,
h3 {
    color: var(--highlight-color);
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.3rem;
}

p,
q,
a,
a:visited,
form,
input,
textarea,
span {
    color: var(--default-text-color);
    font-size: 1.1rem;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 10px;
    padding: 0 15px;
}

button,
input[type=submit] {
    padding: 15px 25px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 1.3rem;
    background-color: var(--highlight-color);
    border: none;

}

section {
    text-align: center;
}

img {
    max-width: 450px;
}

.highlight-bg {
    background-color: var(--highlight-bg-color);
    width: 100%;
    padding: 5px 0 20px 0;
}

.section-heading {
    text-align: center;
    margin: 20px 0 10px;
}

.section-row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 10px 0;
}

.column {
    display: block;
    margin: 0 10px;
    padding: 0 10px;
}

.description-text {
    align-self: center;
    text-align: left;
    max-width: 500px;
}

@media (min-width: 840px) {
    .section-row {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-around;
    }
}

.service-item {
    max-width: 310px;
    padding: 5px;
}

.icon i {
    font-size: 45px;
    margin: 10px;
    color: var(--highlight-color);
}

.list-unstyled {
    max-width: 450px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}

.quote-container .author {
    align-self: flex-end;
    color: var(--highlight-color);
}

.our-clients img {
    max-width: 100px;
}


.portfolio-container {
    display: flex;
    flex-flow: row wrap;
    margin: 10px auto;
    justify-content: center;
}

.portfolio-item {
    width: 440px;
    height: 290px;
    margin: 10px auto;
    overflow: hidden;
}

@media (min-width: 660px) {
    .portfolio-item {
        width: 310px;
        height: 200px;
        margin: 10px 8px;
        overflow: hidden;
    }
}

.socials {
    font-size: 45px;
    margin: 10px;
    color: var(--default-text-color);
}

.socials:hover {
    color: var(--highlight-color);
}

.card-deck {
    margin: 20px auto;
    justify-content: center;
    justify-items: center;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 400px;
    grid-template-rows: repeat(4, 420px);

}

@media (min-width: 600px) {
    .card-deck {
        grid-template-columns: repeat(2, 230px);
        grid-template-rows: repeat(2, 420px);
    }
}

@media (min-width: 950px) {
    .card-deck {
        grid-template-columns: repeat(4, 230px);
        grid-template-rows: 420px;
    }
}

.card {
    border: none;
    width: 230px;
}

.card-title>h3,
.card-text>p {
    margin: 5px 0;
}

.card>img {
    width: auto;
    max-height: 310px;
}

footer ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-bottom: 0;
}

footer form {
    margin: 20px;
}

label {
    margin-bottom: 0;
}

footer input[type=submit] {
    margin-top: 15px;
}

footer form input,
footer form textarea {
    border: none;
    background-image: none;
    /*background-color:transparent;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 5px 0;
    width: 510px;
}

@media (min-width: 840px) {
    footer form input,
    footer form textarea {
        width: 400px;
    }
}

form input:focus,
textarea:focus {
    outline: rgba(61, 138, 247, 0.5);
    outline-style: solid;
    outline-width: 2px;
}

footer {
    padding-bottom: 20px;
}

.footer-copyright {
    text-align: center;
    margin-bottom: 30px;
}
