:root {
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    display: flex;
    border: 2px solid red;
}
h1, h2, h4 {
    color: #3d8af7;
    font-weight: normal;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.2rem;
}
h3, p, q, a, a:visited, form, span {
    color: #7a7a7a;
    font-size: 18px;
}
h3, h4 {
    font-size: 1.3rem;
}
a {
    text-decoration: none;
}
a:hover {
    color: #3d8af7;
}
ul {
    list-style-type: none;
}
button, input[type=submit] {
    padding: 10px 15px;
    color: #fff;
    font-size: 1.3rem;
    background-color: #3d8af7;
    border: none;
    
}
nav {
    height: 100px;
}
.highlight-bg {
    background-color: #d4e3fc;
}
.nav-item {
    display: inline-block;
    padding: 10px 15px;
}
.nav-item:active {
    background-color: #3d8af7;
    color: #fff;
}
.default-images {
    width: 500px;
}
.team-member {
    display: inline-block;
    background-color: #fff;
    width: 300px;
    height: 400px;
}
.team-member>img {
    width: 300px;
}
.portfolio-item{
    width: 400px;
    max-height: 250px;
    overflow: hidden;
}
.slideshow-container {
    display: inline-block;
}
.brand-img>img {
    height: 50px;
}

